
{% extends 'layouts/page.njk' %}
{% set caption = "" %}
{% set title = nitrogenDioxide.title %}
{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">{{nitrogenDioxide.headings.a}}</h2>
      <p>{{nitrogenDioxide.paragraphs.a}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{nitrogenDioxide.paragraphs.b}}</li>
        <li>{{nitrogenDioxide.paragraphs.c}}</li>
        <li>{{nitrogenDioxide.paragraphs.d}}</li>
        <li>{{nitrogenDioxide.paragraphs.e}}</li>
        <li>{{nitrogenDioxide.paragraphs.f}}</li>
        <li>{{nitrogenDioxide.paragraphs.g}}</li>
      </ul>
       <h2 class="govuk-heading-m">{{nitrogenDioxide.headings.b}} </h2>
      <p>
        {{nitrogenDioxide.paragraphs.h}}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{nitrogenDioxide.paragraphs.i}}</li>
        <li>{{nitrogenDioxide.paragraphs.j}}</li>
        <li>{{nitrogenDioxide.paragraphs.k}}</li>
      </ul>
      <p>
        {{nitrogenDioxide.paragraphs.l}}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{nitrogenDioxide.paragraphs.m}}</li>
        <li>{{nitrogenDioxide.paragraphs.n}}</li>
      </ul>
    </div>
    </div>
{% endblock %}

