{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% if lang == 'en' %}
  {% set queryhref %}/cy{% endset %}
  {{ govukInsetText({
    html: "<p class='govuk-body'>This page is also available <a class='govuk-link' href='" + queryhref + "'> in Welsh</a> (<a href='" + queryhref + "' hreflang='cy'>Cymraeg</a>).</p>",
    classes: "check-local-air-quality"
  }) }}
{% endif %}
{% if lang == 'cy' %}
  {% set queryhref %}/{% endset %}
  {{ govukInsetText({
    html: "<p class='govuk-body'>Mae'r dudalen hon hefyd ar gael <a class='govuk-link' href='" + queryhref + "'> yn Saesneg</a> (<a href='" + queryhref + "' hreflang='en'>English</a>).</p>",
    classes: "check-local-air-quality"
  }) }}
{% endif %}