{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds odd-page">
    <form class="form" action="/notify/register/sms-send-activation" method="post">
    <h1 class="govuk-heading-l">
        We are going to send you an activation code
    </h1>
    <p>We will send a text message to <b>{{ mobileNumber }}</b> with a 5-digit activation code.</p>
<button type="submit" class="govuk-button govuk-button--primary govuk-!-margin-bottom-8" data-module="govuk-button" data-govuk-button-init="">
  Agree and continue
</button>
    <div>
        <a href="/notify/register/sms-mobile-number">I want to use a different mobile number</a>
    </div>
    </form>
  </div>
</div>
{% endblock %}
