{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds odd-page">

      <h1 class="govuk-heading-l">{{ content.heading }}</h1>

      <p class="govuk-body">{{ content.bodyText }}</p>

      <form method="post" novalidate target="_blank">
        <button class="govuk-button" data-module="govuk-button">
          {{ content.confirmButton }}
        </button>
      </form>

      <p class="govuk-body">
        <a href="/notify/unsubscribe-keep-alerts" class="govuk-link" target="_blank" rel="noreferrer noopener">{{ content.cancelLink }}</a>
      </p>

    </div>
  </div>
{% endblock %}
