{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds odd-page">
      
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            {{ content.successTitle }}
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h1 class="govuk-notification-banner__heading">
            {{ smsSuccessHeading }}
          </h1>
        </div>
      </div>

      <p class="govuk-body">{{ content.confirmationText }}</p>

      <p class="govuk-body govuk-!-padding-bottom-6">
        {{ content.anotherAlertPrefix }} <a href="/notify/register/check-max-alerts" class="govuk-link">{{ content.anotherAlertLinkText }}</a>{{ content.anotherAlertSuffix }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">{{ content.researchHeading }}</h2>

      <p class="govuk-body">
        {{ content.researchBodyPrefix }}
        <a href="https://www.gov.uk/government/publications/defras-social-research-privacy-notice" class="govuk-link">{{ content.researchBodyLinkText }}</a>
        {{ content.researchBodySuffix }}
      </p>

      <p class="govuk-body">
        <a href="{{ userResearchPanelUrl }}" class="govuk-link">{{ content.researchLinkText }}</a>
      </p>

    </div>
  </div>
{% endblock %}
