{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  {% call appPageBody() %}
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>check air quality in a local area</li>
        <li>find information on air pollutants</li>
       <!-- That this is not required for the MVP <li>access the local authority website to find out what is being done to improve air quality</li> -->
      </ul>
      {{ govukButton({
        text: "Start now",
        href: ['/search-location'] | join,
        isStartButton: true
      }) }}
    </div>
  </div>  
  {% endcall %}

{% endblock %}
