{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}
  {% call appPageBody() %}
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop language-toggle">
      <p class="govuk-body">{{paragraphs.a}}</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>{{paragraphs.b}}</li>
        <li>{{paragraphs.c}}</li>
       <!-- That this is not required for the MVP <li>access the local authority website to find out what is being done to improve air quality</li> -->
      </ul>
      {%if lang == 'en' %}
      {% set queryhref %}/check-lleol-ansawdd-aer/cy?userId={{ userId }}&utm_source={{utm_source}}{% endset %}
      {{ govukInsetText({
        html: "<p class='govuk-body'>This page is also available <a class='govuk-link' href='" + queryhref + "'> in Welsh</a> (<a href='" + queryhref + "' hreflang='cy'>Cymraeg</a>).</p>",
        classes: "check-local-air-quality"
      }) }}
      {%endif%}
      {%if lang == 'cy'%}
      {% set queryhref %}/check-local-air-quality?userId={{ userId }}&utm_source={{utm_source}}{% endset %}
      {{ govukInsetText({
        html: "<p class='govuk-body'>Mae'r dudalen hon hefyd ar gael <a class='govuk-link' href='" + queryhref + "'> yn Saesneg</a> (<a href='" + queryhref + "' hreflang='en'>English</a>).</p>",
        classes: "check-local-air-quality"
      }) }}
      {%endif%}
      {%if htmlLang == 'en'%}
      {% set queryhref %}/search-location?userId={{ userId }}&utm_source={{utm_source}}&lang=en{% endset %}
      {{ govukButton({
        text: label,
        href: queryhref,
        isStartButton: true
      }) }}
      {%endif%}
      {%if htmlLang == 'cy'%}
       {% set queryhref %}/chwilio-lleoliad/cy?userId={{ userId }}&utm_source={{utm_source}}&lang=cy{% endset %}
      {{ govukButton({
        text: label,
        href: queryhref,
        isStartButton: true
      }) }}
      {%endif%}
    </div>
  </div>  
  {% endcall %}

{% endblock %}
