{% extends 'layouts/page.njk' %}

{% block content %}
<div id="wrapper" class="special_route govuk-width-container">
            
<div class="gem-c-contextual-breadcrumbs">

      
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

  <h1 class="gem-c-title__text govuk-heading-xl">
    Feedback
  </h1>
</div>
</main>

      

    </div>
  {% endblock %}