{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: "",
    caption: ""
  }) }}

  {% call appPageBody() %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  {% if errors %}
  {{errors | dump}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  {{ govukErrorSummary(errors) }}
    </div>
  </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action={{[appPathPrefix, '/location'] | join}} method="post"  name="search-form" value="search"">
        {{ appSearch(searchParams) }}
        <!-- Hidden input to pass the air quality value -->
        <input type="hidden" name="aq" value="{{ airQuality.value }}" />
    </form>
    </div>
  </div>
  {% endcall %}

{% endblock %}
