{% extends 'layouts/page.njk' %}

{% set caption = "" %}
{% set title = particulateMatter10.title %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">{{particulateMatter10.headings.a}}</h2>
      <p>{{particulateMatter10.paragraphs.a}}
      </p>
      <p>{{particulateMatter10.paragraphs.b}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter10.paragraphs.c}}</li>
        <li>{{particulateMatter10.paragraphs.d}}</li>
        <li>{{particulateMatter10.paragraphs.e}}</li>
        <li>{{particulateMatter10.paragraphs.f}}</li>
        <li>{{particulateMatter10.paragraphs.g}}</li>
        <li>{{particulateMatter10.paragraphs.h}}</li>
        <li>{{particulateMatter10.paragraphs.i}}</li>
      </ul>
      <h2 class="govuk-heading-m">{{particulateMatter10.headings.b}}</h2>
      <p>{{particulateMatter10.paragraphs.j}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter10.paragraphs.k}}</li>
        <li>{{particulateMatter10.paragraphs.l}}</li>
        <li>{{particulateMatter10.paragraphs.m}}</li>
        <li>{{particulateMatter10.paragraphs.n}}</li>
      </ul>
      <p>{{particulateMatter10.paragraphs.o}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter10.paragraphs.p}} </li>
        <li>{{particulateMatter10.paragraphs.q}}</li>
        <li>{{particulateMatter10.paragraphs.r}}</li>
        <li>{{particulateMatter10.paragraphs.s}}</li>
        <li>{{particulateMatter10.paragraphs.t}}</li>
      </ul>
    </div>
  </div>
{% endblock %}
