.app-heading {
  display: flex;
  padding-bottom: 40px;
}

.app-heading.not-found {
  padding-bottom: 0;
}

.app-heading-secondary-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.app-heading-entities {
  display: flex;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);
}
