{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">{{cookieBanner.paragraphs.a}}</p>
  <p class="govuk-body">{{cookieBanner.paragraphs.b}}</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">{{cookieBanner.hideCookieMsg.text0}} <a class="govuk-link" href="/cookies/">{{cookieBanner.hideCookieMsg.text2}}</a> {{cookieBanner.hideCookieMsg.text3}}</p>
{% endset %}

{% set rejectHtml %}
  <p class="govuk-body">{{cookieBanner.hideCookieMsg.text1}} <a class="govuk-link" href="/cookies/">{{cookieBanner.hideCookieMsg.text2}}</a> {{cookieBanner.hideCookieMsg.text3}}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: cookieBanner.title,
  hidden: true,
  attributes: {
    "data-module": "govuk-cookie-banner"
  },
  messages: [
    {
      headingText: cookieBanner.title,
      html: html,
      actions: [
        {
          text: cookieBanner.buttons.a,
          type: "button",
          classes: "js-cookie-banner-accept"
        },
        {
          text: cookieBanner.buttons.b,
          type: "button",
          classes: "js-cookie-banner-reject"
        },
        {
          text: cookieBanner.buttons.c,
          href: "/cookies/"
        }
      ],
      classes: "app-width-container js-cookie-banner-message"
    },
    {
      html: acceptHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: cookieBanner.hideCookieMsg.buttonText,
          type: "button",
          classes: "js-cookie-banner-hide js-cookie-banner-hide--accept"
        }
      ],
      classes: "js-cookie-banner-confirmation-accept app-width-container"
    },
    {
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: cookieBanner.hideCookieMsg.buttonText,
          type: "button",
          classes: "js-cookie-banner-hide js-cookie-banner-hide--reject"
        }
      ],
      classes: "js-cookie-banner-confirmation-reject app-width-container"
    }
  ]
}) }}

{# Inline script to show the cookie banner as soon as possible,
   to avoid a high cumulative layout shift (CLS) score https://web.dev/cls/ #}
<script>

  /**
   * If cookie policy changes and/or the user preferences object format needs to
   * change, bump this version up afterwards. The user should then be shown the
   * banner again to consent to the new policy.
   *
   * Note that because isValidCookieConsent checks that the version in the user's
   * cookie is equal to or greater than this number, you should be careful to
   * check backwards compatibility when changing the object format.
  */
  window.AQ_CONSENT_COOKIE_VERSION = 1;

  (function () {
    // Skip early setup when cookie banner component is not supported
    if (!('noModule' in HTMLScriptElement.prototype)) {
      return
    }

    /**
     * Check the cookie preferences object.
     *
     * If the consent object is not present, malformed, or incorrect version,
     * returns false, otherwise returns true.
     *
     * This is also duplicated in cookie-functions.js - the two need to be kept in sync
     */

    // Don't show the banner on the cookies page
    if (window.location.pathname !== "/cookies/") {
      // Show the banner if there is no consent cookie or if it is outdated
      var currentConsentCookie = document.cookie.match(new RegExp('(^| )airaqie_cookies_analytics=([^;]+)'))
      if (!currentConsentCookie) {
        var cookieBanner = document.querySelector("[data-module='govuk-cookie-banner']")
        cookieBanner.removeAttribute('hidden')
      }
    }
  })()
</script>
