{% set table %}
{{ govukTable({
  classes: "govuk-!-margin-bottom-6",
  caption: daqi.caption,
  captionClasses: "govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-4",
  firstCellIsHeader: true,
  head: [
    {
      text: daqi.headText.a
    },
    {
      text: daqi.headText.c
    }
  ],
  rows: [
    [
      {
        html: "<strong class='daqi-tag daqi-tag--1'>"+daqi.levels.a+"</strong>"
      },
      {
        html: airQualityData['isel'].advice
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--4'>"+daqi.levels.b+"</strong>"
      },
      {
        html: "<p>" + airQualityData['cymedrol'].advice + "</p><p>" + airQualityData['cymedrol'].atrisk.adults + "</p><p>" + airQualityData['cymedrol'].atrisk.asthma + "</p>" + airQualityData['cymedrol'].atrisk.oldPeople
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--7'>"+daqi.levels.c+"</strong>"
      },
      {
        html: "<p>" + airQualityData['uchel'].advice + "</p><p>" + airQualityData['uchel'].atrisk.adults + "</p><p>" + airQualityData['uchel'].atrisk.asthma + "</p>" + airQualityData['uchel'].atrisk.oldPeople
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--10'>"+daqi.levels.d+"</strong>"
      },
      {
        html: "<p>" + airQualityData['uchelIawn'].advice + "</p><p>" + airQualityData['uchelIawn'].atrisk.adults + "</p><p>" + airQualityData['uchelIawn'].atrisk.asthma + "</p>" + airQualityData['uchelIawn'].atrisk.oldPeople
      }
    ]
  ]
}) }}
{% endset %}

{{ govukDetails({
  summaryText: daqi.summaryText,
  html: table
}) }}