{# '' AQC-657: Exposure reduction advice section. Rendered in different positions depending on DAQI level #}
{# '' Wrapped with stable id for dynamic reordering when active forecast tab changes #}
<div id="exposure-section" class="daqiexposure" data-daqi-exposure>
  {{ daqi.exposureHtml | safe }}
</div>
