
<h2 class="govuk-heading-s">{{daqi.pollutantText.a}}</h2>
{% set queryhref %}{% endset %}
<p>{{daqi.pollutantText.b}}</p>
{%if htmlLang == 'en'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/pollutants/ozone', queryhref, '&lang=en'] | join}}>{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/nitrogen-dioxide', queryhref, '&lang=en'] | join}}>{{daqi.pollutantsNames.b}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/sulphur-dioxide', queryhref, '&lang=en'] | join}}>{{daqi.pollutantsNames.c}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/llygryddion/oson/cy', queryhref, '?lang=cy'] | join}}>{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/nitrogen-deuocsid/cy', queryhref, '?lang=cy'] | join}}>{{daqi.pollutantsNames.b}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/sylffwr-deuocsid/cy', queryhref, '?lang=cy'] | join}}>{{daqi.pollutantsNames.c}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'en'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/pollutants/particulate-matter-25', queryhref, '&lang=en'] | join}}>{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/particulate-matter-10', queryhref, '&lang=en'] | join}}>{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/llygryddion/mater-gronynnol-25/cy', queryhref, '?lang=cy'] | join}}>{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/mater-gronynnol-10/cy', queryhref, '?lang=cy'] | join}}>{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
