
<h2 class="govuk-heading-s">{{daqi.pollutantText.a}}</h2>
{% set queryParams %}{% if locationId %}&locationId={{locationId}}{% if locationName %}&locationName={{locationName | urlencode}}{% endif %}{% if searchTerms %}&searchTerms={{searchTerms | urlencode}}{% endif %}{% endif %}{% endset %}
<p>{{daqi.pollutantText.b}}</p>
{%if htmlLang == 'en'%}
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="/pollutants/particulate-matter-25?lang=en{{queryParams}}">{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href="/pollutants/particulate-matter-10?lang=en{{queryParams}}">{{daqi.pollutantsNames.b}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="/llygryddion/mater-gronynnol-25/cy?lang=cy{{queryParams}}">{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href="/llygryddion/mater-gronynnol-10/cy?lang=cy{{queryParams}}">{{daqi.pollutantsNames.b}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'en'%}
<ul class="govuk-list">
<li>
    <a class="govuk-link" href="/pollutants/nitrogen-dioxide?lang=en{{queryParams}}">{{daqi.pollutantsNames.c}}</a>
  </li>
    <li>
    <a class="govuk-link" href="/pollutants/ozone?lang=en{{queryParams}}">{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href="/pollutants/sulphur-dioxide?lang=en{{queryParams}}">{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/llygryddion/nitrogen-deuocsid/cy?lang=cy{{queryParams}}">{{daqi.pollutantsNames.c}}</a>
  </li>
    <li>
    <a class="govuk-link" href="/llygryddion/oson/cy?lang=cy{{queryParams}}">{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href="/llygryddion/sylffwr-deuocsid/cy?lang=cy{{queryParams}}">{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
