
<h2 class="govuk-heading-s">{{daqi.pollutantText.a}}</h2>
<p>{{daqi.pollutantText.b}}</p>
{%if htmlLang == 'en'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/pollutants/ozone'] | join}}>{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/nitrogen-dioxide'] | join}}>{{daqi.pollutantsNames.b}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/sulphur-dioxide'] | join}}>{{daqi.pollutantsNames.c}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/llygryddion/oson/cy'] | join}}>{{daqi.pollutantsNames.a}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/nitrogen-deuocsid/cy'] | join}}>{{daqi.pollutantsNames.b}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/sylffwr-deuocsid/cy'] | join}}>{{daqi.pollutantsNames.c}}</a>
  </li>
</ul>
<h2 class="govuk-heading-s">{{daqi.pollutantText.d}}</h2>
<p>{{daqi.pollutantText.c}}</p>
{%endif%}
{%if htmlLang == 'en'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/pollutants/particulate-matter-25'] | join}}>{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/pollutants/particulate-matter-10'] | join}}>{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
{%if htmlLang == 'cy'%}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href={{['/llygryddion/mater-gronynnol-25/cy'] | join}}>{{daqi.pollutantsNames.d}}</a>
  </li>
  <li>
    <a class="govuk-link" href={{['/llygryddion/mater-gronynnol-10/cy'] | join}}>{{daqi.pollutantsNames.e}}</a>
  </li>
</ul>
{%endif%}
