{% extends 'layouts/page.njk' %}

{% set caption = "" %}
{% set title = particulateMatter25.title %}

{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">{{particulateMatter25.headings.a}}</h2>
      <p>{{particulateMatter25.paragraphs.a}}</p>
      <p>{{particulateMatter25.paragraphs.b}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter25.paragraphs.c}}</li>
        <li>{{particulateMatter25.paragraphs.d}}</li>
        <li>{{particulateMatter25.paragraphs.e}}</li>
        <li>{{particulateMatter25.paragraphs.f}}</li>
      </ul>
      <p>{{particulateMatter25.paragraphs.g}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter25.paragraphs.h}}</li>
        <li>{{particulateMatter25.paragraphs.i}}</li>
        <li>{{particulateMatter25.paragraphs.j}}</li>
        <li>{{particulateMatter25.paragraphs.k}}</li>
        <li>{{particulateMatter25.paragraphs.l}}</li>
      </ul>
      <h2 class="govuk-heading-m">{{particulateMatter25.headings.b}} </h2>
      <p>{{particulateMatter25.paragraphs.m}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter25.paragraphs.n}}</li>
        <li>{{particulateMatter25.paragraphs.o}}</li>
        </ul>
      <p>{{particulateMatter25.paragraphs.p}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{particulateMatter25.paragraphs.q}}</li>
        <li>{{particulateMatter25.paragraphs.r}}</li>
        <li>{{particulateMatter25.paragraphs.s}}</li>
        <li>{{particulateMatter25.paragraphs.t}}</li>
        <li>{{particulateMatter25.paragraphs.u}}</li>
      </ul>
    </div>
  </div>
{% endblock %}
