{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: message
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<p class="govuk-body">
        There is no page at <strong>{{url}}</strong>
      </p>
      <p class="govuk-body">This may be because:</p>
<ul class="govuk-list govuk-list--bullet">
        <li>you typed or pasted the web address incorrectly</li>
        <li>a link in your code is wrong</li>
        <li>a form in your code is wrong</li>
        <li>you have not created the page yet</li>
      </ul>
    </div>
  </div>
{% endblock %}
