{% extends 'layouts/page.njk' %}

{% set displayBreadcrumbs = false %}
{% set title = pageTitle + " " + data['q'] %}

{% block content %}
  {% if statusCode == '500' %}
    {% include 'partials/error-500.njk' %}
  {% elif statusCode == '404' or statusCode == '400' %}
    {% if lang == 'en' %}
      {% include 'partials/error-404-en.njk' %}
    {% elif lang == 'cy' %}
      {% include 'partials/error-404-cy.njk' %}
    {% endif %}
  {% endif %}
{% endblock %}