@include govuk-exports("govuk/component/language-toggle") {
    .dwp-language-toggle {
        @include govuk-font($size: 19);
        @include govuk-clearfix;

        &__list {
            margin-top: 15px;
            float: right;
            text-align: right;
        }
        
        &__list-item {
            display: inline-block;
        }
    }
}        