{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds odd-page">

      <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ heading }}</h1>
      <p class="govuk-body">{{ bodyText }}</p>

      <form method="post" action="{{ currentPath }}">
        <input type="hidden" name="token" value="{{ token }}">
        {{ govukButton({ text: buttonText }) }}
      </form>

    </div>
  </div>
{% endblock %}
