{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds odd-page">

      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p class="govuk-body">{{ content.errorExpiredBody }}</p>
      <p class="govuk-body">
        <a href="/search-location" class="govuk-link">{{ content.errorSearchLinkText }}</a>
        {{ content.errorSearchLinkSuffix }}
      </p>

    </div>
  </div>
{% endblock %}
