{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-accessibility-page" data-module="app-accessibility-page">

        <!-- Page Title -->
        {% include 'partials/page-title.njk' %}

        <!-- Paragraphs and Headings -->
        {% include 'partials/paragraphs-and-headings.njk' %}

      </div>
    </div>
  </div>
{% endblock %}