{% extends 'layouts/page.njk' %}

{% block content %}
{% set successNotificationBannerHtml %}
  <p class="govuk-notification-banner__heading">You’ve set your cookie preferences.</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-accessibility-page" data-module="app-accessibility-page">

      <h1 class="govuk-heading-xl">{{title}}</h1>
      <p class="govuk-body">{{paragraphs.a}}</p>

      <p class="govuk-body">{{paragraphs.b}} <a href="http://check-local-air-quality.defra.gov.uk/">http://check-local-air-quality.defra.gov.uk/</a></p>

      <h2 class="govuk-heading-m">{{headings.a}}</h2>

      <p class="govuk-body">{{paragraphs.c}}</p>

      <h2 class="govuk-heading-m">{{haedings.b}}</h2>

      <p class="govuk-body">{{paragraphs.d}}</p>
      <p class="govuk-body">{{paragraphs.e}}</p>
      <p class="govuk-body">{{paragraphs.f}}</p>
      <h2 class="govuk-heading-m">{{headings.c}}</h2>
      <p class="govuk-body">{{paragraphs.g}} <a href="mailto:accessibility@defra.gov.uk">accessibility@defra.gov.uk.</a></p>
      <h2 class="govuk-heading-m">{{headings.d}}</h2>
      <p class="govuk-body">{{paragraphs.h}}</p>
      <p class="govuk-body">{{paragraphs.i}}</p>
    </div>
  </div>
</div>
{% endblock %}