{% extends 'layouts/page.njk' %}


{% block pageTitle %}
  Sign in - Private beta air quality
{% endblock %}

{% block content %}
 {% call appPageBody() %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {% if errors %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  {{ govukErrorSummary(errors) }}
    </div>
  </div>
  {% endif %}
    <h1 class="govuk-heading-xl">
      This is a private beta
    </h1>
    <p class="govuk-body-m">
      You should only continue if you have been invited to. 
    </p>
    <form action='/aqie-front-end' method="post">
      {{ govukInput({
        label: {
          text: "Password",
          classes: "govuk-label"
        },
        classes: "govuk-!-width-one-third",
        id: "password",
        name: "password",
        type: "password",
        errorMessage:errorMessage
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
     </form>
  </div>
</div>
  {% endcall %}
{% endblock %}