{% extends 'layouts/page.njk' %}


{% block pageTitle %}
  Sign in - Private Beta Air Quality
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Private Beta Air Quality
    </h1>
    <p class="govuk-body-m">
      You should only continue if you have been invited to test this  Private Beta. 
    </p>
    <form action='/aqie-front-end' method="post" name="login-form" value="login">
      {{ govukInput({
        label: {
          text: "Password",
          classes: "govuk-label"
        },
        classes: "govuk-!-width-one-third",
        id: "password",
        name: "password"
      }) }}
      {{ govukButton({
        text: "Log in"
      }) }}
     </form>
  </div>
</div>

{% endblock %}