{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-top-8 language-toggle">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <p class="govuk-body">{{ paragraphs.a }}</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>{{ paragraphs.b }}</li>
        <li>{{ paragraphs.d }}</li>
        <li>{{ paragraphs.c }}</li>
        <!-- That this is not required for the MVP <li>access the local authority website to find out what is being done to improve air quality</li> -->
      </ul>

      {% include 'partials/inset-text.njk' %}

      {% include 'partials/start-button.njk' %}
    </div>
  </div>
{% endblock %}