{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-cookies-page" data-module="app-cookies-page">

        <!-- Page Title -->
        {% include 'partials/title.njk' %}

        <!-- Paragraphs -->
        {% include 'partials/paragraphs.njk' %}

        <!-- Form -->
        {% include 'partials/form.njk' %}

      </div>
    </div>
  </div>
{% endblock %}