{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
      <form class="form" action="/notify/register/sms-mobile-number" method="post" novalidate>
        {% if error or maxAlertsError %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              {{ common.errorSummaryTitle }}
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#notify-by-text">{% if maxAlertsError %}{{ maxAlertsError.summary }}{% else %}{{ error.message }}{% endif %}</a>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-label--l govuk-!-margin-bottom-6">
            <h1 class="govuk-fieldset__heading">
              {{ content.heading }}
            </h1>
          </legend>
          <p>{{ content.description }}</p>

          <div class="govuk-form-group{% if error and error.field === 'notifyByText' %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="notify-by-text">
              {{ content.inputLabel }}
            </label>
            {% if error and error.field === 'notifyByText' %}
              <p id="notify-by-text-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
              </p>
            {% endif %}
            <input class="govuk-input govuk-input--width-20{% if error and error.field === 'notifyByText' %} govuk-input--error{% endif %}" 
                   id="notify-by-text" 
                   name="notifyByText" 
                   type="tel" 
                   autocomplete="tel"
                   {% if error and error.field === 'notifyByText' %}aria-describedby="notify-by-text-error"{% endif %}
                   value="{% if formData and formData.notifyByText %}{{ formData.notifyByText }}{% endif %}">
          </div>

          {% if alertLimitHint %}
          <p class="govuk-body">{{ alertLimitHint }}</p>
          {% endif %}

          <button type="submit" class="govuk-button" data-module="govuk-button">
            {{ content.continueButton }}
          </button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
