
{% extends 'layouts/page.njk' %}

{% set caption = "" %}
{% set title = ozone.title %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
        <h2 class="govuk-heading-m">{{ozone.headings.a}}</h2>
        <p>{{ozone.paragraphs.a}}
        </p>
        <p>
        {{ozone.paragraphs.b}}
        </p> 
        <h2 class="govuk-heading-m">{{ozone.headings.b}}</h2>
        <p>
          {{ozone.paragraphs.c}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ozone.paragraphs.d}}</li>
          <li>{{ozone.paragraphs.e}}</li>
          <li>{{ozone.paragraphs.f}}</li>
          <li>{{ozone.paragraphs.g}}
          </li>
        </ul>
        <p>
          {{ozone.paragraphs.h}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ozone.paragraphs.i}}</li>
          <li>{{ozone.paragraphs.j}}</li>
          <li>{{ozone.paragraphs.k}}</li>
          <li>{{ozone.paragraphs.l}}</li>
        </ul>
        <p class="govuk-body">{{ozone.paragraphs.m}}</p>
    </div>
  </div>
{% endblock %}

