{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ content.panelTitle }}</h1>
        <div class="govuk-panel__body">
          {{ content.panelBodyPrefix }}<br><strong>{{ emailAddress }}</strong>
        </div>
      </div>

      <p class="govuk-body">{{ content.confirmationEmail }}</p>

      <h2 class="govuk-heading-m">{{ content.whatHappensNextHeading }}</h2>
      <p class="govuk-body">{{ content.alertsWhenText }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.alertBullet1 }}</li>
        <li>{{ content.alertBullet2 }}</li>
      </ul>

      <div class="govuk-inset-text">
        <p>{{ content.unsubscribeText }}</p>
      </div>

      <h2 class="govuk-heading-m">{{ content.alertDetailsHeading }}</h2>
      {# '' Summary list showing alert details #}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: content.emailAddressKey
            },
            value: {
              text: emailAddress
            }
          },
          {
            key: {
              text: content.locationKey
            },
            value: {
              text: location
            }
          }
        ]
      }) }}

      <form action="/notify/register/alerts-success" method="post">
        <button type="submit" class="govuk-button">{{ content.returnButton }}</button>
      </form>

      <h2 class="govuk-heading-m">{{ content.moreInfoHeading }}</h2>
      <p class="govuk-body">{{ content.moreInfoIntro }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/" class="govuk-link">{{ content.moreInfoLink1 }}</a></li>
        <li><a href="/help" class="govuk-link">{{ content.moreInfoLink2 }}</a></li>
        <li><a href="/privacy" class="govuk-link">{{ content.moreInfoLink3 }}</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

