{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "search/macro.njk" import appSearch -%}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "button/macro.njk" import govukButton -%}
{% from "table/macro.njk" import govukTable -%}
{% from "inset-text/macro.njk" import govukInsetText -%}
{% from "details/macro.njk" import govukDetails -%}
{% from "pollutant/macro.njk" import appPollutant %}
{% from "toggletip/macro.njk" import toggletip %}
{% from "aq-levels-table/macro.njk" import aqLevelsTable %}
{% from "input/macro.njk" import govukInput -%}


{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("images/favicon.svg") }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ getAssetPath("images/govuk-icon-mask.svg") }}"
        color="{{ themeColor | default("#0b0c0c") }}"> {#- Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" href="{{ getAssetPath("images/govuk-icon-180.png") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('application.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{%if page == "homepage"%}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceName: "",
    serviceUrl: "/",
    useTudorCrown: true
  }) }}
  {% else %}
    {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: appPathPrefix,
    useTudorCrown: true
    }) }}
    {% endif%}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "BETA"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/aqie-front-end/feedback">feedback</a> will help us to improve it.'
  }) }}
  {%if locationType == "single location" %}
    {{ govukBackLink({
    text: "Change location",
    href: '/aqie-front-end/search-location'
  }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
