{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "search/macro.njk" import appSearch -%}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "button/macro.njk" import govukButton -%}
{% from "table/macro.njk" import govukTable -%}
{% from "inset-text/macro.njk" import govukInsetText -%}
{% from "details/macro.njk" import govukDetails -%}
{% from "pollutant/macro.njk" import appPollutant %}
{% from "toggletip/macro.njk" import toggletip %}
{% from "aq-levels-table/macro.njk" import aqLevelsTable %}
{% from "input/macro.njk" import govukInput -%}
{% from "radios/macro.njk" import govukRadios -%}
{% from "notification-banner/macro.njk" import govukNotificationBanner %}
{% from "cookie-banner/macro.njk" import govukCookieBanner %}

{% block bodyStart %}
{%if page != "home"%}
  <a id="top"></a>
  {% include "cookie-banner.njk" %}
{%endif%}
{% endblock %}
{% set mainClasses = "govuk-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("images/favicon.svg") }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ getAssetPath("images/govuk-icon-mask.svg") }}"
        color="{{ themeColor | default("#0b0c0c") }}"> {#- Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" href="{{ getAssetPath("images/govuk-icon-180.png") }}">
{% endblock %}

{% block head %}
{{currentConsentCookie | dump}}
  <link href="{{ getAssetPath('application.css') }}" rel="stylesheet">
  {%if currentConsentCookie %}
    <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8CMZBTDQBC"></script> 
  <script>   window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-8CMZBTDQBC'); 
  </script>
  {%endif%}
{% endblock %}

{% block header %}
{%if page == "Check local air quality"%}{% set serviceName = ""%}{%endif%}
{%if page != "home"%}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: '/',
    useTudorCrown: true
  }) }}
  {%endif%}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
{%if page != "home"%}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_dj4wJCoOkFQLXfM" target="_blank">feedback</a> will help us to improve it.'
  }) }}

  {%if displayBacklink %}
    {{ govukBackLink({
    text: "Change location",
    href: '/search-location'
  }) }}
  {% endif %}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
{%if page != "home"%}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
