// javascript disabled style
// Tooltip code for on screen help

button {
	&tooltip strong {
		line-height: 30px;
    }

	&tooltip ~ span {
		width: auto;
		margin-top: auto;
		margin-left: auto;
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		position: absolute;

		-webkit-transition-property: opacity, margin-top, visibility, margin-left;
		-webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
		-webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
			ease-in-out;

		-moz-transition-property: opacity, margin-top, visibility, margin-left;
		-moz-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
		-moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
			ease-in-out;

		-o-transition-property: opacity, margin-top, visibility, margin-left;
		-o-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
		-o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
			ease-in-out;

		transition-property: opacity, margin-top, visibility, margin-left;
		transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
		transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

		&defra-toggletip__info{
			color: #ffffff;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#FFFFFF',GradientType=0 );
		}
    }

  	&tooltip:hover ~ span{
		&defra-toggletip__info {
			opacity: 1;
			text-decoration: none;
			visibility: visible;
	    }
	}

	&tooltip:focus:not(:focus) ~ span {
		opacity: 0;
    }

  	&tooltip:focus ~ span{
		&defra-toggletip__info {
			opacity: 1;
			text-decoration: none;
			visibility: visible;
	    }
	}
		
	&tooltip span b {
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);

		-webkit-box-shadow: inset -1px 1px 0 #ffffff;
		-moz-box-shadow: inset 0 1px 0 #ffffff;
		-o-box-shadow: inset 0 1px 0 #ffffff;
		box-shadow: inset 0 1px 0 #ffffff;
		display: none;
		background: #f0f0f0;
		border-top: 1px solid #cfb57c;
		border-right: 1px solid #cfb57c;
	}
};