{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorMessage %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><a href="#username">{{ errorMessage }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-top-7">Sign in</h1>

      <form method="post" action="/sign-in" novalidate>

        <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="username">Username</label>
          <input class="govuk-input govuk-input--width-20{% if errorMessage %} govuk-input--error{% endif %}"
                 id="username"
                 name="username"
                 type="text"
                 autocomplete="username"
                 {% if errorMessage %}aria-describedby="username-error"{% endif %}>
          {% if errorMessage %}
            <p id="username-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}
            </p>
          {% endif %}
        </div>

        <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="password">Password</label>
          <input class="govuk-input govuk-input--width-20{% if errorMessage %} govuk-input--error{% endif %}"
                 id="password"
                 name="password"
                 type="password"
                 autocomplete="current-password">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Sign in
        </button>

      </form>
    </div>
  </div>
{% endblock %}
