<p class="govuk-body">{{ paragraphs.w }} <a href="/" class="govuk-link">{{ paragraphs.a }}</a> {{ paragraphs.b }}</p>
<p class="govuk-body">{{ paragraphs.c }}</p>
<p class="govuk-body">{{ paragraphs.d }}</p>
<p class="govuk-body">{{ paragraphs.e }} <a href="https://ico.org.uk/for-the-public/online/cookies" class="govuk-link">{{ paragraphs.f }}</a> {{ paragraphs.g }}</p>