{% extends 'layouts/page.njk' %}

{% block content %}
{# '' #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds odd-page">
    <form class="form" action="/notify/register/sms-send-new-code" method="post" novalidate>
      {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#mobile-number-new">{{ error.message }}</a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l">Request a new activation code</h1>
      <p class="govuk-body">
        Text messages can take a few minutes to arrive.
      </p>
      <p class="govuk-body">
        If the activation code has not arrived after 10 minutes, you can get a new code sent to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the same mobile phone number, {{ mobileNumber }}</li>
        <li>a different mobile phone number</li>
      </ul>

      <div class="govuk-!-padding-bottom-5"></div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Send the text to a different number
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group{% if error and error.field === 'mobileNumberNew' %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="mobile-number-new">
              Enter mobile phone number (optional)
            </label>
            <div id="mobile-number-new-hint" class="govuk-hint">
              Enter a UK mobile phone number, like 07700 900 982
            </div>
            {% if error and error.field === 'mobileNumberNew' %}
              <p id="mobile-number-new-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
              </p>
            {% endif %}
            <input class="govuk-input govuk-input--width-20{% if error and error.field === 'mobileNumberNew' %} govuk-input--error{% endif %}" 
                   id="mobile-number-new" 
                   name="mobileNumberNew" 
                   type="tel"
                   autocomplete="tel"
                   aria-describedby="mobile-number-new-hint{% if error and error.field === 'mobileNumberNew' %} mobile-number-new-error{% endif %}"
                   value="{% if formData and formData.mobileNumberNew %}{{ formData.mobileNumberNew }}{% endif %}">
          </div>
        </div>
      </details>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Request a new code
      </button>
    </form>
  </div>
</div>
{% endblock %}
