{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{{title}}</h1>
   </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <p>{{paragraphs.a}} <a href="mailto:data.protection@defra.gov.uk">data.protection@defra.gov.uk.</a>
      </p>
      <h2 class="govuk-heading-m">{{headings.a}}</h2>
      <p>{{paragraphs.b}} </p>
      <div class="contact">
      <p>{{paragraphs.c}}<br>
      {{paragraphs.d}}<br>
      {{paragraphs.e}}<br>
      {{paragraphs.f}} <br>
      {{paragraphs.g}}</p>
      </div>
      <p>{{paragraphs.h}} <a href="mailto:data.protection@defra.gov.uk">data.protection@defra.gov.uk</a> {{paragraphs.i}}</p>
      <p>{{paragraphs.j}} <a href="mailto:DefraGroupDataProtectionOfficer@defra.gov.uk">DefraGroupDataProtectionOfficer@defra.gov.uk</a> {{paragraphs.i}}</p>
      
      <h2 class="govuk-heading-m">{{headings.b}}</h2>
      <p>{{paragraphs.k0}}</p>
      <p>{{paragraphs.k}}</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>{{paragraphs.l}}</li>
         <li>{{paragraphs.m}} </li>
         <li>{{paragraphs.n}}</li>
         <li>{{paragraphs.o}}</li>
      </ul>
      {% if lang == "cy" %}
      <p>{{paragraphs.a23}}<a href="/briwsion/cy">{{paragraphs.a24}}</a></p>
      {% else  %}
      <p>{{paragraphs.a23}}<a href="/cookies"> {{paragraphs.a24}}</a></p>
      {% endif %}
      <h2 class="govuk-heading-m">{{headings.c}} </h2>
      <p>{{paragraphs.q}}</p>

      <h2 class="govuk-heading-m">{{headings.d}}</h2>
      <p>{{paragraphs.r}}</p>
      <p>{{paragraphs.r2}}</p>

      <h2 class="govuk-heading-m">{{headings.e}}</h2>
      <p>{{paragraphs.s}}</p>
      <p>{{paragraphs.t}}</p>

      <h2 class="govuk-heading-m">{{headings.f}}</h2>
      <p>{{paragraphs.u}}</p>
      <h2 class="govuk-heading-m">{{headings.g}}</h2>
      <p>{{paragraphs.x}}</p>
      <p>{{paragraphs.y}}</p>

      <h2 class="govuk-heading-m">{{headings.h}}</h2>
      <p>{{paragraphs.z}}</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>{{paragraphs.a0}}</li>
         <li>{{paragraphs.a1}}</li>
      </ul>
      <h2 class="govuk-heading-m">{{headings.i}}</h2>
      <p>{{paragraphs.a2}}</p>

      <h2 class="govuk-heading-m">{{headings.j}}</h2>
      <p>{{paragraphs.a3}}</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>{{paragraphs.a4}}</li>
         <li>{{paragraphs.a5}}</li>
         <li>{{paragraphs.a6}}</li>
         <li>{{paragraphs.a7}}</li>
         <li>{{paragraphs.a8}}</li>
         <li>{{paragraphs.a9}}</li>
         <li>{{paragraphs.a10}}</li>
         <li>{{paragraphs.a11}}</li>
      </ul>
      <p>{{paragraphs.a12}} <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/">{{paragraphs.a13}}</a> {{paragraphs.a14}} <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/">{{paragraphs.a15}}</a>.</p>
      <h2 class="govuk-heading-m">{{headings.k}}</h2>
      <p>{{paragraphs.a16}} <a href="https://ico.org.uk/make-a-complaint/">{{paragraphs.a17}}</a> {{paragraphs.a18}}</p>
      <h2 class="govuk-heading-m">{{headings.l}}</h2>
      <p>{{paragraphs.a20}} <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">{{paragraphs.a21}}</a> {{paragraphs.a22}}</p>
   </div>
</div>
  {% endblock %}