// DAQI Colours - Standard DAQI color scheme

$daqi-colour-0: govuk-colour('light-grey'); // No data - grey
$daqi-colour-1: #9cff9c; // Low (1-3) - Green
$daqi-colour-2: #31ff00; // Low (1-3) - Green
$daqi-colour-3: #31cf00; // Low (1-3) - Green
$daqi-colour-4: #ffff00; // Moderate - Yellow
$daqi-colour-5: #ffcf00; // Moderate - Orange-yellow
$daqi-colour-6: #ff9a00; // Moderate - Orange
$daqi-colour-7: #ff6464; // High - Light red
$daqi-colour-8: #ff0000; // High - Red
$daqi-colour-9: #990000; // High - Dark red
$daqi-colour-10: #ce30ff; // Very High - Purple

$daqi-colour: (
  $daqi-colour-0,
  $daqi-colour-1,
  $daqi-colour-2,
  $daqi-colour-3,
  $daqi-colour-4,
  $daqi-colour-5,
  $daqi-colour-6,
  $daqi-colour-7,
  $daqi-colour-8,
  $daqi-colour-9,
  $daqi-colour-10
);
