
// DAQI Colours - Standard DAQI color scheme

$daqi-colour-0: govuk-colour("light-grey");  // No data - grey
$daqi-colour-1: #9CFF9C;   // Low (1-3) - Green
$daqi-colour-2: #9CFF9C;   // Low (1-3) - Green
$daqi-colour-3: #9CFF9C;   // Low (1-3) - Green
$daqi-colour-4: #FFFF00;   // Moderate - Yellow
$daqi-colour-5: #FFCF00;   // Moderate - Orange-yellow
$daqi-colour-6: #FF9A00;   // Moderate - Orange
$daqi-colour-7: #FF6464;   // High - Light red
$daqi-colour-8: #FF0000;   // High - Red
$daqi-colour-9: #990000;   // High - Dark red
$daqi-colour-10: #CE30FF;  // Very High - Purple

$daqi-colour: (
  $daqi-colour-0,
  $daqi-colour-1,
  $daqi-colour-2,
  $daqi-colour-3,
  $daqi-colour-4,
  $daqi-colour-5,
  $daqi-colour-6,
  $daqi-colour-7,
  $daqi-colour-8,
  $daqi-colour-9,
  $daqi-colour-10
);