{% extends 'layouts/page.njk' %}

{% set displayBacklink = false %}
{% set caption = "" %}
{% set title = sulphurDioxide.title %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">{{sulphurDioxide.headings.a}}</h2>
      <p>{{sulphurDioxide.paragraphs.a}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{sulphurDioxide.paragraphs.b}}</li>
        <li>{{sulphurDioxide.paragraphs.c}}</li>
        <li>{{sulphurDioxide.paragraphs.d}}</li>
        <li>{{sulphurDioxide.paragraphs.e}}</li>
        <li>{{sulphurDioxide.paragraphs.f}}</li>
      </ul>
      <h2 class="govuk-heading-m">{{sulphurDioxide.headings.b}} </h2>
      <p>
      {{sulphurDioxide.paragraphs.g}}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{sulphurDioxide.paragraphs.h}}</li>
        <li>{{sulphurDioxide.paragraphs.i}}</li>
        <li>{{sulphurDioxide.paragraphs.j}}</li>
      </ul>
      <p>
        {{sulphurDioxide.paragraphs.k}}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{sulphurDioxide.paragraphs.l}}</li>
        <li>{{sulphurDioxide.paragraphs.m}}</li>
        <li>{{sulphurDioxide.paragraphs.n}}</li>
      </ul>
    </div>
  </div>
{% endblock %}

