{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your mobile phone</h1>
      <p class="govuk-body">
        We've sent a text message to <strong>{{ mobileNumber }}</strong> with a 5 digit activation code.
      </p>
      {% if debugToken %}
        <p class="govuk-hint">(Developer hint: code is <b>{{ debugToken }}</b>)</p>
      {% endif %}
      <form class="form" action="/notify/register/sms-verify-code" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="activation-code">
            Enter the code to activate your air quality alert.
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="activation-code" name="activation-code" type="text">
        </div>
        <p>
          The code expires in 1 hour.
        </p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Not received a text message?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Text messages sometimes take a few minutes to arrive.</p>
            <p>If you do not receive a text message after 10 minutes, check that you have:</p> 
            <ul>
              <li>entered your number correctly</li>
              <li>mobile phone signal</li>
            </ul>
          </div>
        </details>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <p>
          <a href="/notify/register/sms-send-new-code">Send a new activation code</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
