<!-- Paragraph A -->
<p class="govuk-body">{{ paragraphs.a }}</p>

<!-- Paragraph B with Link -->
<p class="govuk-body">
  {{ paragraphs.b }} 
  <a href="https://check-air-quality.service.gov.uk/">https://check-air-quality.service.gov.uk/</a>
</p>

<!-- Heading A -->
<h2 class="govuk-heading-m">{{ headings.a }}</h2>

<!-- Paragraph C -->
<p class="govuk-body">{{ paragraphs.c }}</p>

<!-- Heading B -->
<h2 class="govuk-heading-m">{{ headings.b }}</h2>

<!-- Paragraphs D, E, F, G -->
<p class="govuk-body">{{ paragraphs.d }}</p>
<p class="govuk-body">{{ paragraphs.e }}</p>
<p class="govuk-body">{{ paragraphs.f }}</p>

<!-- Heading C -->
<h2 class="govuk-heading-m">{{headings.c}}</h2>
<p class="govuk-body">{{paragraphs.g}} <a href="mailto:accessibility@defra.gov.uk">accessibility@defra.gov.uk.</a></p>

<!-- Heading D -->
<h2 class="govuk-heading-m">{{headings.d}}</h2>

<!-- Paragraphs H, I -->
<p class="govuk-body">{{paragraphs.h}}</p>
<p class="govuk-body">{{paragraphs.i}}</p>
