{% extends 'layouts/page.njk' %}
{% set caption = "" %}
{% if name2 %}
{% set title = name2 + ", " + (result.GAZETTEER_ENTRY.COUNTY_UNITARY if result.GAZETTEER_ENTRY.COUNTY_UNITARY else result.GAZETTEER_ENTRY.DISTRICT_BOROUGH) %}
{% else %}
{% set title = result.GAZETTEER_ENTRY.NAME1 + ", " + (result.GAZETTEER_ENTRY.COUNTY_UNITARY if result.GAZETTEER_ENTRY.COUNTY_UNITARY else result.GAZETTEER_ENTRY.DISTRICT_BOROUGH) %}
{% endif %}
{% set pollutantTime = '' %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}
{% if onlyShowTwoPages == "Yes" %}
{% block content %}
{%if lang == "en"%}
{% set htmlLang = "en"%}
{%else%}
{% set htmlLang = "cy"%}
{%endif%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
      <h1 class="govuk-heading-{{ pageHeadingSize }}">
{% if caption %}
        <span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full govuk-!-margin-bottom-9">
      {% include "daqi.njk" %}
      {% if airQuality.value >= 1 and airQuality.value <= 3 %}
          <h2 class="govuk-heading-m">{{daqi.healthAdvice.paragraphs.a}} {{ airQuality.readableBand }} {{daqi.healthAdvice.paragraphs.b}}</h2>
          <p>{{ airQuality.advice }}</p>
      {% elseif airQuality.value >= 4 %}
          <h2 class="govuk-heading-m">{{daqi.healthAdvice.paragraphs.a}} {{ airQuality.readableBand }} {{daqi.healthAdvice.paragraphs.b}}</h2>
          <p>{{ airQuality.advice }}</p>
          {% set adultsText %}
            {{ (airQuality.atrisk.adults) }}
          {% endset %}
          {% set asthmaText %}
            {{ (airQuality.atrisk.asthma) }}
          {% endset %}
          {% set oldPeopleText %}
          {{ (airQuality.atrisk.oldPeople) }}
          {% endset %}
          {{ govukInsetText({
            html: 
              "<p>" + adultsText + "</p>" + 
              "<p>" + asthmaText + "</p>" +
              "<p>" + oldPeopleText + "</p>" 
          }) }}
      {% endif %}  
      {% include "daqi-index.njk" %}
      <h2 class="govuk-heading-m">{{daqi.pageTexts.a}}</h2>
      <p class="govuk-!-margin-bottom-6">
        {{ forecastSummary }}
      </p>
      <p class="govuk-caption-s govuk-!-margin-bottom-4">{{daqi.pageTexts.b}} {{languageDate }}</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">{{daqi.pageTexts.c}}</h2>
      {% include "pollutants.njk" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
{% if monitoringSites|length %}
<h2 class="govuk-heading-m">{{daqi.pageTexts.d}}</h2>
{% endif %}
{% for site in monitoringSites %}
{% set time %}
    {{ "now" | date | minusOneHour }}
{% endset %}

{% set measurementToggletip %}
{% set microgramcubic = daqi.tooltipText.latest%}
  {{ toggletip(
    daqi.pollutantTable.c,
    'More information about measurement',
    microgramcubic | safe,
    daqi.pollutantTable.c
  )}}
{% endset %}

{% set levelToggletip %}
  {{ toggletip(
    daqi.pollutantTable.d,
    'More information about the level',
    daqi.tooltipText.level,
    daqi.pollutantTable.d
  )}}
{% endset %}

{% set siteNameToggletip %}
  {{ toggletip(
    site.name,
    'More information about ' + site.name,
    siteTypeDescriptions[site.areaType],
    site.id
  )}}
{% endset %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1 pollutant-table">{{ siteNameToggletip | safe }}</h3>
  <p class="govuk-caption-m govuk-!-margin-bottom-3">{{ site.distance }} {{daqi.pollutantTable.a}}</p>
  {% set rows = [] %}

  {% for key, pollutant in site.pollutants %}
  {% set pollutantTime = pollutant.time.date %}
      {% set pollutantDetail = pollutantTypes[key] %}
      {% set row = [
          { 
              html: "<a class='govuk-!-margin-bottom-1' href='" + pollutantDetail.href + "'>" + pollutantDetail.title + "</a><span class='govuk-caption-s govuk-!-margin-bottom-1'>" + daqi.pollutantTable.e + ' ' + pollutantDetail.low_range + "</span>",
              classes: "defra-aq-levels-table__cell--pollutant" 
          },
          { 
              html: (pollutant.value) +  " <span class='govuk-!-font-size-16 govuk-!-font-weight-regular'>μg/&#13221;</span>",
              classes: "defra-aq-levels-table__cell--reading" 
          },
          { 
              html: "<strong class='daqi-tag daqi-tag--" + (pollutant.daqi if pollutant.daqi else "default-aqi-value") + "'>" + pollutant.band + "</strong>",
              classes: "defra-aq-levels-table__cell--level" 
          }
      ] %}
      {% set _ = rows.push(row) %}
  {% endfor %}
  {{ aqLevelsTable({
      id:loop.index,
      classes: "govuk-!-margin-bottom-2",
      firstCellIsHeader: false,
      head: [
        { text: daqi.pollutantTable.b, classes: "defra-aq-levels-table__cell--pollutant"},
        { html: measurementToggletip, classes: "defra-aq-levels-table__cell--reading" },
        { html: levelToggletip, classes: "defra-aq-levels-table__cell--level" }
      ],
      rows: rows
  }) }}
  {# {% if loop.index == monitoringSites.length %} #}
  <p class='govuk-caption-s govuk-!-margin-bottom-6'>{{daqi.pollutantTable.f}} {{pollutantTime}} {{daqi.pollutantTable.g}} {{ languageDate }}</p>
  {# {%endif%} #}
{% endfor %}
    </div>
  </div>
{% endblock %}
{% endif %}