{% extends 'layouts/page.njk' %}
{% set displayBreadcrumbs = false %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{title}} '{{ userLocation }}'</h1>
    <p class="govuk-body">{{paragraphs.a}}</p>
    {% set queryhref %}?lang=en{% endset %}
    {% set queryhrefCy %}?lang=cy{% endset %}
    <ul class="govuk-list govuk-!-margin-bottom-2 multiple-search">
      {% for item in results %}
        <li>
          <a href={%if htmlLang == 'en' %}{{['/location/',item.GAZETTEER_ENTRY.ID, queryhref] | join}}{%else%}{{['/lleoliad/cy/',item.GAZETTEER_ENTRY.ID, queryhrefCy] | join}}{%endif%} class="govuk-link">
          {% if item.name2 %}  
          <span class="govuk-!-font-weight-bold">{{ item.name2 }}</span>, 
          {% else %}
          <span class="govuk-!-font-weight-bold">{{ item.GAZETTEER_ENTRY.NAME1 }}</span>, 
          {% endif %}
          {% if item.GAZETTEER_ENTRY.DISTRICT_BOROUGH %}
            {{ item.GAZETTEER_ENTRY.DISTRICT_BOROUGH }}
          {% else %}
            {{ item.GAZETTEER_ENTRY.COUNTY_UNITARY }}
          {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
        {% set queryhrefEn %}/search-location?lang=en{% endset %}
        {% set queryhrefCy %}/chwilio-lleoliad/cy?lang=cy{% endset %}
    <p class="govuk-body govuk-!-margin-top-6">{{paragraphs.b}} <a href={% if htmlLang == 'en' %} "{{queryhrefEn}}" {%else%} "{{queryhrefCy}}" {%endif%}>{{paragraphs.c}}</a></p>
  </div>
</div>
{% endblock %}
