name: Check Pull Request

on:
  schedule:
    - cron: '0 7 * * 1'
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1 - Security: pinned to commit SHA
        with:
          fetch-depth: 0

      - name: Test code and Create Test Coverage Reports
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2 - Security: pinned to commit SHA
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: |
          npm ci
          npm run build:frontend
          npm run format:check
          npm run lint
          npm test

      - name: Test Docker Image Build
        run: |
          set +e
          docker build --no-cache --tag aqie-front-end .
          exit $?

      - name: Fetch main branch for SonarCloud PR analysis
        run: git fetch --no-tags --prune origin +refs/heads/main:refs/remotes/origin/main

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarcloud-github-action@eb211723266fe8e83102bac7361f0a05c3ac1d1b # v3.0.0 - Security: pinned to commit SHA
        with:
          args: >
            -Dsonar.projectKey=DEFRA_aqie-front-end
            -Dsonar.organization=defra
            -Dsonar.sources=src/server/,src/config/,src/helpers/,src/index.js
            -Dsonar.exclusions=**/*.test.js,src/client/**,src/server/common/**/*,src/server/locations/cy/**,src/src/govuk/**/*,src/config/nunjucks/filters/format-currency.js,src/**/__fixtures__/**,src/server/data/**/daqi-and-pollutants*.js,src/server/data/**/navigation*.js,src/server/data/**/footer-and-ui*.js,src/server/data/**/en.js,src/server/data/**/cy.js
            -Dsonar.tests=src/server/,src/config/,src/helpers/,test/
            -Dsonar.test.inclusions=**/*.test.js
            -Dsonar.test.exclusions=src/client/**,src/server/common/**/*,src/server/locations/cy/**,src/src/govuk/**/*,src/**/__fixtures__/**
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.coverage.exclusions=src/client/**,coverage/**,node_modules/**,**/test/**,**/*.test.js,src/server/common/**/*,src/server/locations/cy/**,src/src/govuk/**/*,src/config/nunjucks/filters/format-currency.js,src/**/__fixtures__/**,src/server/location-id/controller-helpers.js,src/server/location-id/controller-workflow.js
            -Dsonar.qualitygate.wait=false
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=${{ github.base_ref }}
            -Dsonar.pullrequest.key=${{ github.event.number }}
            -Dsonar.coverage.overallExclusions=src/client/**,coverage/**,node_modules/**,**/test/**,**/*.test.js
            -Dsonar.cpd.exclusions=src/server/data/**/daqi-and-pollutants*.js,src/server/data/**/navigation*.js,src/server/data/**/footer-and-ui*.js,src/server/data/**/en.js,src/server/data/**/cy.js
            -Dsonar.issue.exclusions.multicriteria=e1,e2,e3,e4,e5
            -Dsonar.issue.exclusions.multicriteria.e1.ruleKey=javascript:S1192
            -Dsonar.issue.exclusions.multicriteria.e1.resourceKey=src/server/data/en/daqi-and-pollutants.js
            -Dsonar.issue.exclusions.multicriteria.e2.ruleKey=javascript:S1192
            -Dsonar.issue.exclusions.multicriteria.e2.resourceKey=src/server/data/cy/daqi-and-pollutants-welsh.js
            -Dsonar.issue.exclusions.multicriteria.e3.ruleKey=javascript:S1192
            -Dsonar.issue.exclusions.multicriteria.e3.resourceKey=src/server/data/**/navigation*.js
            -Dsonar.issue.exclusions.multicriteria.e4.ruleKey=javascript:S1192
            -Dsonar.issue.exclusions.multicriteria.e4.resourceKey=src/server/data/**/footer-and-ui*.js
            -Dsonar.issue.exclusions.multicriteria.e5.ruleKey=javascript:S1192
            -Dsonar.issue.exclusions.multicriteria.e5.resourceKey=src/server/data/**/*content*.js
            -Dsonar.qualitygate.skip=true
            -Dsonar.verbose=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
